In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from matplotlib.patches import Rectangle

Dataset 1_______________________________________________________________________________________________

In [2]:
df = pd.read_csv('../Tarea/autos.csv',encoding='latin-1')
display(df.shape)
df.head()
# Para este dataset lo que busco predecir es la variable de Precio y=price
# Y las variables que considero que pudieran tener alguna relacion para predecir es el x1=model x2=kilometer x3=brand x4=name 
# x1=model  Por que existe diferente tipos de gamas de autos y esto impacta en el precio
# x2=kilometer Esta variable por que esperaria que a mayor kilometraje menor precio debido al deterioro de las piezas
# x3=brand Esta debido a que la diferencia entre las marcas impactan en el precio ejemplo gamas premiun vs gamas comeciales
# x=4 Esta debido a que los modelos de los carros es un diferencuiador tambien del precio

/tmp/ipykernel_6176/1388381392.py:1: DtypeWarning: Columns (0,5,8,10,12,13,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../Tarea/autos.csv',encoding='latin-1')

(371539, 21)

,index,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,...,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,0,24/03/2016 11:52,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,...,golf,150000,0,benzin,volkswagen,NaN,24/03/2016 00:00,0.0,70435,07/04/2016 03:16
1,1,24/03/2016 10:58,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,...,NaN,125000,5,diesel,audi,ja,24/03/2016 00:00,0.0,66954,07/04/2016 01:46
2,2,14/03/2016 12:52,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,...,grand,125000,8,diesel,jeep,NaN,14/03/2016 00:00,0.0,90480,05/04/2016 12:47
3,3,17/03/2016 16:54,GOLF_4_1_4__3TÃRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,...,golf,150000,6,benzin,volkswagen,nein,17/03/2016 00:00,0.0,91074,17/03/2016 17:40
4,4,31/03/2016 17:25,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,...,fabia,90000,7,diesel,skoda,nein,31/03/2016 00:00,0.0,60437,06/04/2016 10:17

Dataset 2_______________________________________________________________________________________________

In [3]:
df1 = pd.read_csv('../Tarea/Ventas SuperStore.csv',encoding='latin-1')
display(df1.shape)
df1.head()
#Quisiera predecir las ganacias que se tendran en 2015 , Y=profit
#Las vairables que considero importante serian x1=sales , x2=quatity , x3=country 
# x1=sales Por que esta variable determina la cantidad vendida
# x2=quantity esta muestra las cantidades
# x3=country y esta el paise , considero importante por que cada pais tiene su propio crecieminto y ventas

(51290, 21)

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,01/01/2011,06/01/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.0,106.140,35.46,Medium,2011
1,IN-2011-47883,01/01/2011,08/01/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.036,9.72,Medium,2011
2,HU-2011-1220,01/01/2011,05/01/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66,4,0.0,29.640,8.17,High,2011
3,IT-2011-3647632,01/01/2011,05/01/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.055,4.82,High,2011
4,IN-2011-47883,01/01/2011,08/01/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.770,4.70,Medium,2011

Dataset 3_______________________________________________________________________________________________

In [4]:
df2 = pd.read_csv('../Tarea/Amazon Sale Report.csv',encoding='latin-1')
display(df2.shape)
df2.head()
#Quisiera predecir la cantidad de ventas en cantidades  , Y=Qty
#Las vairables que considero importante serian x1=ship-city , x2=Category , x3=Sales Channel 
# x1=ship-city La ciudad por que hay ciudades con diferente cantidad de personas y esto afecta a la cantidad de productos
# x2=Category La categorioa por que cada categoria tiene mercados diferentes y por ende comportamiento diferente
# x3=Sales Channel El canal por que dependiendo del canal es como se comporta el mercado

/tmp/ipykernel_6176/77119180.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('../Tarea/Amazon Sale Report.csv',encoding='latin-1')

(128975, 24)

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN